<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>*.user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>servlet.ReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>*.reader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BooksServlet</servlet-name>
    <servlet-class>servlet.BooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksServlet</servlet-name>
    <url-pattern>*.book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BTypeServlet</servlet-name>
    <servlet-class>servlet.BTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BTypeServlet</servlet-name>
    <url-pattern>*.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RTypeServlet</display-name>
    <servlet-name>RTypeServlet</servlet-name>
    <servlet-class>servlet.RTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RTypeServlet</servlet-name>
    <url-pattern>*.rt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowServlet</display-name>
    <servlet-name>BorrowServlet</servlet-name>
    <servlet-class>servlet.BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowServlet</servlet-name>
    <url-pattern>*.br</url-pattern>
  </servlet-mapping>
</web-app>